.scrollToTop {
	position: fixed;
	right: 20px;
	bottom: -100px;
	opacity: 0;
	width: 50px;
	height: 50px;
	color: #000;
	font-family: sans-serif;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	outline: none;
	background: no-repeat center center transparent;

}

.scrollToTop_show {
	overflow-y: scroll;
}

.scrollToTop_none,
.scrollToTop_slide,
.scrollToTop_fade {
	opacity: 1;
	bottom: 20px;
}
.scrollToTop_fade {
	-webkit-animation-name: opacity;
			animation-name: opacity;
}
@-webkit-keyframes opacity {
	0%	 {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes opacity {
	0%   {opacity: 0;}
	100% {opacity: 1;}
}

.scrollToTop_slide {
	-webkit-animation-name: bottom;
			animation-name: bottom;
}
@-webkit-keyframes bottom {
	0%   {bottom: -100px;}
	100% {bottom: 20px;}
}
@keyframes bottom {
	0%   {bottom: -100px;}
	100% {bottom: 20px;}
}

.scrollToTop_null {
	display: block;
	width: auto;
	height: auto;
	padding: 10px;
	text-indent: 0;
	background: #eee;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.scrollToTop_default:hover {
	background-color: transparent;
}
.scrollToTop_cycle {
	background-image: url("../img/cycle.png");
	background-size: 40px;
}
.scrollToTop_cycle:hover {
	background-image: url("../img/cycle.png");
}

.scrollToTop_square {
	background-image: url("../img/square.png");
}
.scrollToTop_square:hover {
	background-image: url("../img/square-hover.png") !important;
}
.scrollToTop_text {
	background-image: url("../img/text.png");
}
.scrollToTop_text:hover {
	background-image: url("../img/text-hover.png");
}
.scrollToTop_triangle {
	background-image: url("../img/triangle.png");
}
.scrollToTop_triangle:hover {
	background-image: url("../img/triangle-hover.png");
}