@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i);/
.ratings, .ratings .rating {
  height: 11px;
  line-height: 11px;
  width: 60px;
  background-image: url(star_2_sm@2x.png);
  background-size: 12px 22px;
  display: inline-block;
}

@media (min-width: 1200px) {
  .container {
    width: 1060px;
  }
}
.rating {background-position: 0 11px;}
.rbList {list-style-type: unset;}
.mainsection{width: 100%;position: relative;display: inline-block;}
.filters {
  width: 100% !important;
}
.middlesec{width: 100% !important;}
.searchform{width: 73%;float: right;padding: 16px 8px 0px 0px;}
.pagination{margin-bottom: 61px;}
.input_submit {
  background: transparent;
  border: 0;
  color: #fff;
  font-family: Arial;
  font-size: 15px;
  margin: 0;
  padding: 4px 9px;
  cursor: pointer;
  padding: 3px;height: 32px;border-radius: 3px;
}
.inwrapBorder {
  /*border: 1px solid #1c4ed9;
  border-top-color: #2f62f1;
  border-bottom-color: #133fbb;*/
  display: inline-block;
  width: auto;margin-right: 0;
  vertical-align: top;
}
.inwrapBorderTop {
  border: none !important; 
  display: inline-block;
  background: none; 
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4473c5',endColorstr='#4473c5');
  background: -webkit-gradient(linear,left top,left bottom,from(#4473c5),to(#4473c5)); 
  background: -moz-linear-gradient(top,#4473c5,#4473c5); 
  background: linear-gradient(top,#4473c5,#4473c5);*/
}
.inwrap {
  position: relative;
vertical-align: top;
border-right: 1px solid #e8e8e8;
border-bottom: 1px solid #e8e8e8;
display: inline-block;
padding: 0 0px 0 15px;
}
.inwrap .input_text {
  width: 100%;font-size: 16px;padding: 3px 6px 3px 35px; margin: -1px 0;height: 35px;border-radius: 2px;
}
.inwrap input {
  box-sizing: border-box;
  margin: 0;
  height: 30px;
  font-family: Arial,sans-serif;
  border: 1px solid #ccc;
  border-bottom-color: #aaa;
  border-right-color: #aaa;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}
.label_st{color: #494949;font-weight: normal;}
.ws_bold{font-weight: normal;font-size: 16px;}
ul li.sre {padding: 6px 1px;width: 630px;list-style: none;border-bottom: 1px solid #ccc;}
div.sre-entry {line-height: 140%;font-size: 15px;}
.sre-side-bar {float: left;vertical-align: top;width: 20px;}
.sre-content {overflow: hidden;}
div.app_name {font-size: 18px;text-transform: capitalize;}
div.app_name span.recentlyUpdated {font-size: 15px;text-transform: none;}
div.education, div.result_footer {line-height: 120%;}
div.times, span.last_updated, span.last_contacted, span.container {color: #999;font-size: 15px;}
div.experience span.company, div.experience span.work-exp-length, div.app_name span.location,div span.company ,div span.location,div span.date{
color: #999;
}
input[type="radio"], input[type="checkbox"] {
  box-sizing: border-box;
  cursor: default;
  padding: unset;
  -moz-binding: unset;
  border: unset;
  background-color: unset;
  color: unset;
  display: none;
}
.pagination {color: #999;
  font-size: 14px;
  margin: 1em 0em;padding-left: 18px;
  display: inline-block;
  width: 100%;text-align: center;
}
.pagination a {
  border: 1px solid #ccc;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  padding: 0 6px;
  margin-left: 8px;
}
.app_link{text-decoration: none;}
.confirm-nav.refinement-link {text-decoration: none;}
.times,.last_updated,.savelink,.refine_title2 ,#radius_form {display: none;}
.header_section {text-align: center;margin: 20px 7px 9px 8px;}
.header_section span {
  padding: 0 25px 3px 3px;
  font-size: 20px;
  border: 5px solid #FF6600;
  background: #FF6600;
  width: 100%;
  margin: 5px -1px 7px 8px;
}
.header_section span a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 0px 0px 0px 8px;
  width: 10%;
}
#lmd_form,.tt_set,.serp-contact-value-prop{display: none;}
.jobtitle {
  margin: 3px 0px 10px;
  font-size: 15px;
}
.sectiondiv{border-bottom: 1px solid #ccc;}
.current_page {
  padding: 3px 3px 3px 7px;
  font-size: 19px;
}
.title_serach .rbsrbo .rbList {
  padding: 0;
  margin: 0;display: inline-block;
}
.title_serach .rbList li {
  display: inline-block;
list-style: none;
line-height: 20px;
margin-bottom: 10px;
padding: 3px 7px 3px 0px;
background: #fff;
margin-right: 3px;
border: 1px solid #333333;font-size: 11px;cursor: pointer;
}

.title_serach .rbList li:hover {background: #232f3e;color: #fff;}

.title_serach .rbList li:hover a {color: #fff;}
.title_serach .rbList li:hover a:hover {color: #fff;}

.search_area .searchform {
  width: 100%;
  float: right;
  padding: 0 0px 15px;
}
.title_serach .rbHeader {
  padding: 0px 12px 0 0px;
  display: inline-block;
  vertical-align: top;
  margin-top: 6px;
  width: 50px;display: none;
}
.title_serach #TITLE_rbo {
  display: inline-block;
width: 90%;
}
.title_serach .rbList li a {
  color: #333333;
  font-size: 12px;padding: 3px 0px 3px 7px !important;
}
.title_serach .rbList li a:hover {
  color: #494949;
  text-decoration:none;
}
.key-list {
  list-style: none;
  padding-left: 10px;
  border: 1px solid #eee;
  z-index: 999999;
  margin: 0;
  box-shadow: none;
}
.key-list li {
  font-size: 14px;
  cursor: pointer;
  padding: 2px;color: #000;
}
.key-list li:hover {
  color: #f60;
}
.suggesstion-box {
  position: absolute;
  z-index: 999999;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 2px #ddd;
  top: 36px;
}
.adv_jobs .form-control{width: 100%;
  height: 36px;
  padding: 6px 12px;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.adv_jobs .form-group input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
}
.adv_jobs h3{color: #232f3e;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
.adv_jobs h4 {
  padding: 7px;
font-weight: 500;
border-radius: 3px;
margin-bottom: 20px;
border-bottom: 1px solid #ddd;
}
.adv_lo{  position: relative;  padding: 0px;}
.adv_lo .suggesstion-box {  left: 0;}
.adv_lo input{width: 100%;}
.middlesec .turnstileLink.slNoUnderline{display: none;}
.middlesec .summary,.middlesec .iaP{display: none}
.moreLi{display: none ;}
.more_link{display: block ;margin-bottom: 0px;}
.snip .no-wrap{display: none;}
.company a{display: none;}
.summary{display: none;}
.result-link-source{display: none;}
/*css created by laxmikant*/

#refineresults ul li {list-style: none;padding: 0;margin: 0;line-height: 24px;}
.rbList {padding-left: 8px;margin-bottom: 0px;}
.panel-default > .panel-heading {font-size: 20px;
font-weight: 600;
text-align: center;
background: #232f3e;
border: none;
color: #fff;}
#refineresults h1{
  margin-top: 0;
  background: #4473c5;
  padding: 10px 10px 10px 15px;
  text-transform: capitalize;
  top: 36px;
  color: #fff;
  font-weight: 600;
  font-size: 18px !important;
}
.label_st {
  font-size: 16px;
  margin-right: 10px;
  vertical-align: bottom;
  display: inline-block;
}
.search_area {
  padding: 35px 0 0px;
width: 100%;
margin: auto;
}
.more_link span {
  cursor: pointer;
  font-weight: 500;
  color: #4473c5;text-transform: capitalize;
}
.more_link span:hover {color: #216a94;}
.title_serach .more_link {
  margin-left: 0px;
  margin-bottom: 0px;
  display: inline-block;
  border: 1px solid #333333;
  border-radius: 2px;
  position: absolute;
  right: 0px;
  text-align: center;bottom: 10px;
}
.title_serach .more_link span{color: #333333;
font-size: 13px;
font-weight: normal;
width: 115px;
display: inline-block;
line-height: 20px;
padding: 3px 7px;}
.title_serach .more_link:hover {
  background: #232f3e;
}
.title_serach .more_link:hover span {
  color: #fff;
}
.filters .more_link{margin-left: 0px !important;
padding-left: 9px !important;
margin-top: 2px;}
.job_list_blk {
  width: 100%;
display: inline-block;
vertical-align: top;
border: 1px solid #eee;
height: 115px;
margin: 0px 0px 15px;
padding: 10px 10px 30px 10px;
border-radius: 5px;
line-height: 18px;
background: #fff;
position: relative;

  overflow: hidden;
}
.rbSection {
  padding: 10px 15px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.job_list_blk .past-date-jb{line-height: 18px !important;
float: right;
font-size: 11px;}
.navbar-default {
  background-color: #232f3e;
  border: none;
  border-radius: 0;
}
.navbar-default a{color: #fff;}
.navbar-default .navbar-brand {color: #fff;}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-text {color: #fff;}
.navbar-default .navbar-brand:hover {color: #cbc3be;}
.navbar-default .navbar-nav > li > a:hover{color: #ffe501;}
.panel-default {border-color: #ddd;background: none;min-height: 550px;}
#refineresults {background: #fff;border: 1px solid #eee;}
a:hover{text-decoration: none;}
.rbHeader {margin-bottom: 7px;}
.s_link {
  margin-top: 10px;
position: absolute;
bottom: 0;
background: #fff;
width: 100%;
left: 0;
right: 0;
padding: 5px 10px;
}
.s_link a {
 font-size: 11.5px;
font-weight: 500;
margin: 0 0px 0 0;
}
.s_link p{padding:0px;margin: 0px;float: right;text-align: right;}
.accordion-toggle:after {
  font-family: 'FontAwesome';
  content: "\f078";    
  float: right;
}
.accordion-opened .accordion-toggle:after {content: "\f054"; }
.searchform .accordion-heading a {
 width: 148px;
float: right;
display: inline-block;
background: #232f3e;
padding: 6px;
border-radius: 2px;
color: #fff;
text-align: center;
}
.searchform .accordion-heading a img{width: 45px;}
#accordion2 {
  vertical-align: top;
  display: inline-block;
  width: 100%;
}
#accordion2 .accordion-heading {
  width: 100%;
  display: inline-block;
  margin-top: 15px;
  padding: 0 0px 20px;
}
#accordion2 .collapse.in {display: inline-block;}
.adv_jobs select {height: 35px;border: 1px solid #ddd;}
.adv_jobs .form-group {vertical-align: top;
line-height: 35px;
margin-bottom: 0px;
font-size: 16px;
font-weight: 500;}
.adv_jobs label {
 vertical-align: middle;
margin-bottom: 0px;
font-size: 15px;
font-weight: normal;
display: inline-block;
}
#radius_update{display: none;}
body{background-color: #f5f5f5 !important;
/* font-family: 'Montserrat', sans-serif !important; */
font-family: Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
font-weight: 400;
line-height: 1.42857143;
}
.inwrapBorderTop input{border-radius: 2px;
padding: 0 7px;
border: none;
height: 35px;width: 148px;
background: #232f3e;}
#norecruiters {height: 35px;margin-right: 7px;}
.job_list_blk .date {
  position: absolute;
  right: 0;
  bottom: 5px;
  z-index: 999;
  right: 10px;
  font-size: 11px;
}
.re-not-found {
  position: absolute;
  left: 0%;
  right: 0;
  text-align: center;
  display: inline-block;
  bottom:10px;
}
.ad_search_area input {
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.search-form1 .ad_search_area input {
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 2px;width: 100%;
}
a {color: #4473c5;text-decoration: none;}
.panel-body {padding: 15px 0;}
.container-fluid {padding-left: 0;padding-right: 0;}
.middlesec .col-md-3{padding-left:5px;padding-right:5px;}
.filters div{padding-left: 15px;margin-left: 0 !important;margin-top: 10px;margin-bottom: 10px;}
.filters div.rbHeader{padding-left: 0px;}
.filters div.rbSection{margin-top: 0px;margin-bottom: 0px;}
.ui-state-active{
background-color: #4473C5!important;
border-color: #4473C5 !important;
}
.title_serach {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0 0px 0px;
}


.navbar-brand {
    font-size: 25px;
}
.job_list_blk div {
    display: inline-block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: auto;
}
.job_list_blk div.s_link {
    height: auto !important;
}

.job_list_blk p a {
    font-size: 14px;
text-transform: capitalize;
color: #232f3e;
font-weight: bold;
}


.search_area .icon-addon i{position: absolute;
position: absolute;
left: 15px;
top: 8px;
color: #928989;
font-size: 16px;
width: 35px;
text-align: center;
}

.asearch_area .icon-addon{height: 35px;}
.job_list_location {
    float: left !important;
    padding-left: 0px;font-size: 13px;text-transform: uppercase;
}
.job_list_left {
    float: left !important;
font-size: 13px !important;
padding-right: 3px;
display: block;
width: 100%;color: #b42d04;font-weight: 600;
}
.accordion-inner {
    background: #fff !important;
    border-top: 1px solid #ddd;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;border-radius: 10px;
}
.ad_search-prt {
    padding: 0;
}
.ad_search-prt .form-group {
  vertical-align: top;
  line-height: 35px;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
select > option {font-weight: normal;font-size: 18px !important;padding-left: 15px;}

.ad_search-prt select{font-weight: normal !important; font-size: 15px;height: 35px;
border: 1px solid #ddd;
border-radius: 2px;}

.ad_search-prt label{display: inline-block;vertical-align: middle;}

.ad-right-button .input_submit {
    margin-right: 30px;
}

.ad-right-button{display: inline-block;width: 100%;}
.adv_lo input {
    padding-left: 15px;
}
.search-form1 .ad_search-prt input {
    padding-left: 10px;
}

.mainsection .col-md-3 #refineresults{display: none;}

.mainsection .col-md-9{width: 100%;}

.pagination b{color: #232f3e;}
.past-date-jb {font-size: 11px !important;padding-top: 2px;
 }

.navbar-header {margin-top: 3px;}

.middle-section{display: inline-block;width: 100%;}


/*login-css*/
.login-sec .panel-default {
    background: #fff;margin-top: 30px;padding:0 20px;
}

.login-sec{margin:auto;width: 400px;}
.login-sec .img-sec {
    text-align: center;
    margin: 30px 0 40px;
}
.login-sec .panel-body{padding: 15px 0 0;}
.login-sec .img-sec img{
    width: 90px;height: 90px;border: 2px solid #232f3e;line-height: 90px;text-align: center;padding: 10px;
    border-radius: 50%;
}

.login-sec .form-group .form-input{width: 100%;margin: auto;padding: 0 15px;}

.login-sec .form-group .button-form{width: 100%;margin:auto;padding: 0 15px;}

.login-sec .form-group .button-form .btn-primary{width: 100%;
font-size: 16px;
background: #232f3e;
border: 1px solid #232f3e;}

.login-sec .form-group .button-form .btn-primary:hover{background: #fff;color: #232f3e;}

.login-sec .form-group .form-input .checkbox label {
    color: #232f3e;
}

.login-sec .form-group .form-input input[type="checkbox"] {
    display: block;
}

.login-sec .form-group .form-input .checkbox{padding-top: 0px;display: inline;}
.form-input p a{color: #232f3e;}
.form-input p{text-align: center;}
.form-input p a:hover{text-decoration: underline;}

.login-sec .panel-default {
    min-height: auto;
    border-radius: 5px;
}

.job_list_blk p {
    margin-bottom: 1px;
}

.right-line{height: 11px;
background: #333;
width: 1px;
float: none !important;
display: inline-block;
vertical-align: middle;margin: 0 3px;}

.dashboard-infini {
    display: inline-block;
    width: 100%;
}

.dash-box-sec {
    height: 150px;
    background: #fff;
}
.dashboard-infini-inner {
    display: inline-block;
    width: 100%;
    margin: 12px 0;
}

.dashboard-header {
    display: inline-block;
    width: 100%;
    text-align: center;margin-bottom: 0px;
margin-top: 10px;

}
.animation_image {
  display: none;
  width: 100%;
  height: 100px;
}
.animation_image img{
  height: 60px;
}
.tot_jobs{
  width: 100%;
float: left;
text-align: right;
display: inline-block;
margin: -10px 9px 5px -11px;
font-weight: bold;

}





/*new css created*/

.main-header {
    position: relative;
    max-height: 100px;
    z-index: 16;
}

.main-header .logo {
	transition: width .3s ease-in-out;
	display: block;
	float: left;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	width: 230px;
	padding: 0 15px;
	font-weight: 300;
	overflow: hidden;
	background-color: #232f3e;
	color: #fff;
	border-bottom: 0 solid transparent;
}

.main-header .logo .logo-mini {
    display: none;
}

.main-header .logo .logo-lg {
    display: block;
}

.main-header .navbar {
    background-color: #232f3e;
    transition: margin-left .3s ease-in-out;
    margin-bottom: 0;
    margin-left: 230px;
    border: none;
    min-height: 50px;
    border-radius: 0;position: relative;height: 51px;
}
.navbar-static-top {
    z-index: 14;
    border-width: 0 0 1px;
}
.main-header .navbar .sidebar-toggle {
   color: #fff;
background: #141f2e;
position: absolute;
bottom: 0;
height: 100%;
}
.main-header .sidebar-toggle {
   float: left;
background-color: transparent;
background-image: none;
padding: 15px 15px;
font-family: fontAwesome;
}
.main-header .sidebar-toggle  i {
    font-size: 21px;
}
[role="button"] {
    cursor: pointer;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.main-header .navbar-custom-menu, .main-header .navbar-right {
    float: right;
}
.navbar-nav {
    float: left;
    margin: 0;
}
.navbar-custom-menu > .navbar-nav > li {
    position: relative;
}
.navbar-nav > li {
    float: left;
}
.nav > li, .nav > li > a {
    position: relative;
    display: block;
}
.main-header .navbar .nav > li > a {
    color: #fff;
}
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.navbar-nav .dropdown-menu {
    box-shadow: none !important;
}
.dropdown-menu {
    box-shadow: none;
    border-color: #eee;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 14;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
        margin-top: 2px;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
        border-top-color: rgba(0, 0, 0, 0.15);
        border-right-color: rgba(0, 0, 0, 0.15);
        border-bottom-color: rgba(0, 0, 0, 0.15);
        border-left-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
}
.dropdown-menu > li > a {
    color: #777;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.navbar-nav > .user-menu .user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}
.nav > li > a > img {
    max-width: none;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: 175px;
    padding: 10px;
    text-align: center;
}
.main-header li.user-header {
    background-color: #232f3e;
}
.main-header li.user-header p {
    color: #fff;margin-top: 10px;
	font-size: 16px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
    z-index: 4;
    height: 90px;
    width: 90px;
    border: 3px solid;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
    border-color: transparent;
    border-color: hsla(0,0%,100%,.2);
}
.img-circle {
    border-radius: 50%;
}
.navbar-nav > .user-menu > .dropdown-menu {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 1px 0 0;
    border-top-width: 0;
    width: 280px;
}
.main-header .navbar .nav .open > a, .skin-blue .main-header .navbar .nav .open > a:focus, .main-header .navbar .nav .open > a:hover, .main-header .navbar .nav > li > a:active, .main-header .navbar .nav > li > a:focus, .main-header .navbar .nav > li > a:hover, .main-header .navbar .sidebar-toggle:hover {
    background: #000 !important;
    color: #f6f6f6;
}
.main-header .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 16px;
}

.left-side, .main-sidebar, .wrapper {
    background-color: #222d32;
}
.left-side, .main-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 60px;
    min-height: 100%;
    width: 230px;
    z-index: 9;
    transition: width .3s ease-in-out,-webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out,-webkit-transform .3s ease-in-out;
}
.sidebar {
    padding-bottom: 10px;
    padding-top: 10px;height: 100%;
}
.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar-menu > li.header {
    color: #4b646f;
    background: #1a2226;
}
.sidebar-form, .sidebar-menu > li.header {
    overflow: hidden;
    text-overflow: clip;
}
.main-sidebar .user-panel, .sidebar-menu, .sidebar-menu > li.header {
    white-space: nowrap !important;
}
.sidebar-menu li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;
}
.sidebar-menu > li {
    position: relative;
    margin: 0;
    padding: 0;
}
.sidebar-menu > li.active > a, .sidebar-menu > li:hover > a {
    color: #fff;
    background: #1e282c;
    border-left-color: #3c8dbc;
}
.sidebar-menu > li > a {
    border-left: 3px solid transparent;
        border-left-color: transparent;
}
.sidebar a {
    color: #b8c7ce;
}
.sidebar-menu li > a {
    position: relative;
}
.sidebar-menu > li > a {
    padding: 12px 5px 12px 15px;
    display: block;
	font-size: 14px;
}
.sidebar-menu > li > a > .fa, .sidebar-menu > li > a > .glyphicon, .sidebar-menu > li > a > .ion {
    width: 25px;
font-size: 17px;
}

.fa.pull-right {
    margin-left: .3em;
}
.sidebar-menu li.active > a > .fa-angle-left {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.sidebar-menu li > a > .pull-right {
	position: absolute;
	top: 34%;
	margin-top: 0;
	margin-right: 10px;
	right: 0;
}
.sidebar-menu li > a > .fa-angle-down {
    width: auto;
    height: auto;
    padding: 0;
}

.sidebar-menu > li > .treeview-menu {
    margin: 0px;
    background: #2c3b41;width: 100%;
}
.sidebar-menu .treeview-menu > li {
    margin: 0;
}
.treeview-menu > li > a {
    color: #8aa4af;
}
.sidebar-menu .treeview-menu > li > a {
    padding: 7px 5px 7px 15px;
    display: block;
    font-size: 14px;
}
.sidebar-menu .treeview-menu > li > a > .fa, .sidebar-menu .treeview-menu > li > a > .glyphicon, .sidebar-menu .treeview-menu > li > a > .ion {
    width: 22px;
    font-size: 15px;
}
.treeview-menu > li > a {
    color: #8aa4af;
}
.treeview-menu > li.active > a, .treeview-menu > li > a:hover {
    color: #fff;
}

.sidebar-menu > li > .treeview-menu1 {
    margin: 0px;
    background: #2c3b41;width: 100%;
}
.sidebar-menu .treeview-menu1 > li {
    margin: 0;
}
.treeview-menu1 > li > a {
    color: #8aa4af;
}
.sidebar-menu .treeview-menu1 > li > a {
    padding: 7px 5px 7px 15px;
    display: block;
    font-size: 14px;
}
.sidebar-menu .treeview-menu1 > li > a > .fa, .sidebar-menu .treeview-menu1 > li > a > .glyphicon, .sidebar-menu .treeview-menu1 > li > a > .ion {
    width: 22px;
    font-size: 15px;
}
.treeview-menu1 > li > a {
    color: #8aa4af;
}
.treeview-menu1 > li.active > a, .treeview-menu1 > li > a:hover {
    color: #fff;
}



.panel {
    margin-bottom: 0;
}


.wrap-fluid{background: #ecf0f5;}
.fa-chevron-down::before {
    content: none;
}

.user-footer {
    padding: 10px;
    display: inline-block;
    width: 100%;
}
.user-header p small{display: block;width: 100%;}

#account-page{margin-top: 20px;background: #fff;}
#account-page .panel-default > .panel-heading {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    background: #232f3e;
    border: none;
    color: #fff;
}
#account-page .panel-body{padding: 20px;}

.profile-bxdash{display: inline-block;width: 100%;}
.profile-bxdash-img {
    background: #f5f5f5;
    padding: 20px 15px;
    border-radius: 5px;
    text-align: center;
}
.user-profile-image {
    border-radius: 24px;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}
.profile-bxdash-img p {
    font-size: 20px;
    word-wrap: break-word;
    padding-bottom: 0px;
    margin-bottom: 0;
}
.profile-bxdash-content {
    background: #f5f5f5;
    padding: 20px 15px;
    border-radius: 5px;
    min-height: 238px;
}
.p-head {
    width: 200px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}
.p-head-dash {
    padding: 0 5px;
}
.button-ad-sea {
    display: inline-block;
    width: 100%;
}
.button-ad-sea .btn{font-size: 15px;
font-weight: 600;}

.button-ad-sea .btn.pull-right {
    float: right !important;
    margin-right: 27px;
}

.first-login-sec {background-image: url('../img/City-of-London-skyline.jpg');
background-repeat: no-repeat;background-size: cover;padding: 50px;height: 100vh;}

.logo-login{text-align: center;}

.user-footer .btn {
	border-radius: 0;
	padding: 6px 12px;
}

.header_small_logo .navbar.navbar-static-top {
    margin-left: 45px;
}
.header_small_logo .main-header .logo .logo-mini {
	display: inline-block;
	width: 40px;
}
.header_small_logo .logo-mini img {
    width: 100%;
}
.header_small_logo .main-header .logo {
	transition: width .3s ease-in-out;
	width: 45px;
	line-height: 50px;
	padding:0px;
}
.header_small_logo .logo-lg {
	display: none;
}
.main-header .navbar .sidebar-toggle:focus {
	outline: none;
}
.header_small_logo .main-sidebar {
    width: 45px;
}
.header_small_logo .wrap-fluid {
	margin-left: 45px;
}
.wrap-fluid {
    transition: transform .3s ease-in-out,margin .3s ease-in-out,-webkit-transform .3s ease-in-out;
    margin-left: 230px;
	min-height: 1150px;
}
.sidebar-menu .treeview-menu ,.sidebar-menu .treeview-menu1{
	padding: 0 0px 0 5px;
}
.job_list_block {
    padding: 0 15px;
}
.search_area {
    padding: 10px 15px 0px;
}
.header_small_logo i.fa.fa-angle-down.pull-right {
    display: none;
}
.header_small_logo .sidebar-menu > li{
 position:relative;
}
.sidebar-menu > li > a:focus{
 outline:none;
}
.sidebar-menu .treeview-menu > li > a:focus{
  outline:none;
}
.sidebar-menu .treeview-menu1 > li > a:focus{
  outline:none;
}
.search_sidebar .sidebar-form {
    border-radius: 3px;
    margin: 10px;
}
.search_sidebar .sidebar-form .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.search_sidebar .sidebar-form input[type=text] {
    box-shadow: none;
    background-color: #374850;
    border: 1px solid transparent;
    height: 35px;
    transition: all .3s ease-in-out;
	color: #999;
	padding:0 10px;
}
.search_sidebar .sidebar-form .btn{
     box-shadow: none;
    background-color: #374850;
    border: 1px solid transparent;
    height: 35px;
    transition: all .3s ease-in-out;
	color: #999;
   padding:5px 10px;
	
}
.header_small_logo .sidebar-form {
	display: none;
}
.search_sidebar .user-panel>.image>img {
    width: 100%;
    max-width: 45px;
    height: auto;
}
.search_sidebar .user-panel {
    position: relative;
    width: 100%;
    padding: 10px;
    overflow: hidden;
}
.search_sidebar .user-panel>.info {
    padding: 5px 5px 5px 15px;
    line-height: 1;
    position: absolute;
    left: 55px;
	color:#fff;
}
.search_area #accordion2 .collapse.in {
	display: inline-block;
	width: 100%;
}

.job_table_view .box.box-success {
    border-top-color: #232f3e;
}
.job_table_view .box {
    position: relative;
    border-radius: 3px;
    background: #fff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.job_table_view .box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}
.job_table_view .box-header {
	color: #444;
	display: inline-block;
	padding: 10px;
	position: relative;
	width: 100%;
}
.job_table_view {
    display: inline-block;
    width: 100%;
}
.job_table_view .box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
.dataTables_info {
	display: inline-block;
	padding: 0 5px;
	float: left;
}
.job_table_view .dataTables_paginate.paging_simple_numbers {
	display: inline-block;
	float: right;
}
.job_table_view .pagination {
	margin: 0;
	padding: 0;
}
.job_table_view .pagination a {
	height: auto;
	border-radius: 0 !important;
	border-color: 1px solid #ddd !important;
	padding: 6px 12px;
}
.dataTables_info.right_total {
	float: right;
}
.search_area.container_job_list {
	width: 1024px;
	margin: 0;
}
.job-category-links .dash-box-sec {
	padding: 20px;
	height: 120px;
	box-shadow: 0 1px 4px rgba(0,0,0,0.2);
	transition-duration: .3s;
border-radius: 3px;
}
.job-category-links .dash-box-sec:hover{
 box-shadow: 0 1px 4px rgba(0,0,0,0.6);
}
.job-category-links span {
	display: inline-block;
	float: right;
	color: #232f3e;
	font-size: 16px;
	position:relative;
}
.job-category-links p {
	font-size: 16px;
	margin: 0;
	border-bottom: solid 2px #f1f1f1;
	padding: 0px 0 10px;
	font-weight: 600;
}

.job-category-links h3 {
	display: inline-block;
	font-size: 28px;
	margin: 15px 0;
	color: #777;
	width: 100%;
	line-height: 30px;
}
.job-category-links .cat_postive_up {
	color: #fdc400;
}
.job-category-links .catnumbes {
	color: #999;
}



.account_box {
	box-shadow: 0 1px 4px rgba(0,0,0,0.4);
	border-radius: 3px;
	background-color: white;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	padding: 15px;
}
.account_box h3 {
    margin: 10px 0 15px;
    font-size: 18px;
}
.account_box p {
    font-size: 16px;
    color: #999;
    margin: 0;
}
.account_box h2 {
	margin: 10px 0;
	font-size: 32px;
}
.acc_heading h4 {
	font-size: 22px;
	margin-bottom: 20px;
}
.account_box h5 {    
    font-size: 32px;
    position: relative;
	display:inline-block;
}
#example_length,#example_filter{
  display: none;
}

.Top-List {
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0,0,0,0.4);
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin: 20px 0;
}
.Top-List .top-header {
	font-size: 18px;
	margin: 15px 0;
  font-weight: bold;
}
.job_title:nth-child(2n+1) {
  background: #f5f5f5;
}
.job_title {
  text-align: left;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  text-transform: capitalize;
  margin: 5px;
}
.job_title span {
  float: right;
  padding: 0px;
  font-weight: normal;
}
.Topblock{
  padding-left: 0px;
  padding-right: 10px;
}

.job_table_view a {
    margin: 0 2px;
}


.account_box .cat_postive_up::after {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 7px solid green;
	content: "";
	position: absolute;
	left: -15px;
	top: 13px;
  color: green;
}
.cat_postive_up{
  color: green;
  margin-right: 74px;
}
.account_box .cat_negative_down::after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 7px solid #B22222;
  content: "";
  position: absolute;
  left: -15px;
  top: 13px;
  color: #B22222;
}
.cat_negative_down{
  color: #B22222;
  margin-right: 74px;
}


.job-category-links .cat_postive_up::after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 7px solid #fdc400;
  content: "";
  position: absolute;
  left: -15px;
 top: 11px;
}

.job-category-links .cat_negative_down::after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 7px solid #232f3e;
  content: "";
  position: absolute;
  left: -15px;
  top: 13px;
}
.cat_negative_down1{position: relative;width: auto !important;}
.cat_negative_down1::after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 7px solid #232f3e;
  content: "";
  position: absolute;
  left: -15px;
  top: 8px;
}




.header_small_logo .sidebar-menu>li:hover>.treeview-menu, .header_small_logo .sidebar-menu>li:hover>a>span {
    display: block!important;
    position: absolute;
    width: 180px;
    left: 45px;margin: 0;border-bottom-right-radius: 4px;border-top-right-radius: 4px;
}

.header_small_logo .sidebar-menu>li:hover>.treeview-menu1, .header_small_logo .sidebar-menu>li:hover>a>span {
    display: block!important;
    position: absolute;
    width: 180px;
    left: 45px;margin: 0;border-bottom-right-radius: 4px;border-top-right-radius: 4px;
}
.header_small_logo .sidebar-menu>li:hover>a>span {
    top: 0;
    margin-left: -3px;
    padding: 12px 5px 12px 20px;
   background: #1e282c;
    border-left-color: #3c8dbc;
    z-index: 999;
}

.header_small_logo .sidebar-menu>li>.treeview-menu, .header_small_logo .sidebar-menu>li>a>span, .header_small_logo .sidebar-menu>li>a>span, .header_small_logo .sidebar-menu li.header {
    display: none!important;
}
.header_small_logo .sidebar-menu>li>.treeview-menu1, .header_small_logo .sidebar-menu>li>a>span, .header_small_logo .sidebar-menu>li>a>span, .header_small_logo .sidebar-menu li.header {
    display: none!important;
}


.box-body .table > thead > tr > th, .table > thead > tr > td, .box-body  .table > tbody > tr > th, .box-body  .table > tbody > tr > td, .box-body  .table > tfoot > tr > th, .box-body .table > tfoot > tr > td {
    border-top: 1px solid #f4f4f4;
}
.table>thead>tr>th {
    border-bottom: 3px solid #f4f4f4 !important;
}
.companyname-color a{color: #B22222;}
.companyname-color a:hover{color: #DC143C;}
.content-header h3 {
    font-size: 24px;
    margin-bottom: 5px;
}
/*.job_table_view a.btn {
    height: 22px;
    width: 22px;
    line-height: 20px;
    padding: 0;
}
*/
.scrollToTop{display: none;}

.job_table_view a.btn {
    height: 22px;
    width: 22px;
    padding: 0;
}
.job_table_view a.btn img{width:18px;}

.resume-view-sec table th:first-child, .resume-view-sec table td:first-child{width: 12%;}
.resume-view-sec table th:nth-child(2), .resume-view-sec table td:nth-child(2){width: 24%;}
.resume-view-sec table th:nth-child(3), .resume-view-sec table td:nth-child(3){width: 21%;}
.resume-view-sec table th:nth-child(4), .resume-view-sec table td:nth-child(4){width: 15%;}
.resume-view-sec table th:nth-child(5), .resume-view-sec table td:nth-child(5){width: 11%;}
.resume-view-sec table th:nth-child(6), .resume-view-sec table td:nth-child(6){width: 15%;}


.job-view-sec table th:first-child, .job-view-sec table td:first-child{width: 25%;}
.job-view-sec table th:nth-child(2), .job-view-sec table td:nth-child(2){width: 20%;}
.job-view-sec table th:nth-child(3), .job-view-sec table td:nth-child(3){width: 14%;}
.job-view-sec table th:nth-child(4), .job-view-sec table td:nth-child(4){width: 12%;}
.job-view-sec table th:nth-child(5), .job-view-sec table td:nth-child(5){width: 10%;}
.job-view-sec table th:nth-child(6), .job-view-sec table td:nth-child(6){width: 16%;}
.job-view-sec table td:first-child span, .job-view-sec table td:nth-child(2) span, .job-view-sec table td:nth-child(3) span, .job-view-sec table td:nth-child(4) span, .job-view-sec table td:nth-child(5) span{
width: 95%;
word-break: break-all;
display: inline-block;
}
.accordion-heading.col-sm-2{float: right;}
.radio-cl input[type="radio"] {
  height: 25px;
    position: relative;
margin-left: 0px;
margin-top: 5px;
display: inline-block !important;
width: 15px;
float: left;
vertical-align: middle;
}
.radio-cl{padding: 0;}

.container_job_list .accordion-toggle::after {
    font-family: n;
    content: no-close-quote;
    float: right;
}
.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 21;
}.ajax-skeleton {
    border-radius: 50%;
    border-top: 6px solid #3c8dbc;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
    -webkit-animation: c 1s linear infinite;
    animation: c 1s linear infinite;
}
element.style {
}
.ajax-skeleton {
    border-radius: 50%;
    border-top: 6px solid #3c8dbc;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
    -webkit-animation: c 1s linear infinite;
    animation: c 1s linear infinite;
}
.ajax-spinner {
    width: 48px;
    height: 48px;
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    top: 120px;
    left: calc(50% + 85px);
}
.search-leads-btn {
    display: inline-block;
    width: 100%;
}

.search-leads-btn .inwrapBorderTop input {
    background: #232f3e !important;
    width: 100% !important;
    border-radius: 2px;
    padding: 0 7px;
    border: none;
    height: 40px;
}
.search-leads-btn .inwrapBorderTop {
    display: inline-block;
    width: 100%;
}
.radio-inline{padding-left: 0;}
.radio-inline span{padding-left: 6px;}



.cat_section {
  display: inline-block;
  float: left;
  width: 35%;
  margin: 15px 0;
}
.heading_section {
  display: inline-block;
  float: left;
  padding-left: 30px;
  margin: 15px 0;
}
.heading_section h4 {
  margin: 3px 0;
}
.cat_section select {
  border: solid 1px #ccc;
  height: 35px;
  border-radius: 2px;
  padding: 0px 10px;
  font-size: 15px;
  width: 100%;
}



